<span style="color:{{ block.settings.colour }}">
  {{ 'app.tagLine' | t }}
</span>
{% comment %}this should be prod url{% endcomment %}
<a href="https://localhost:3000/shop/{{ shop.id }}" target="_blank">
  <button style="color:{{ block.settings.button }}">{{ 'app.buttonText' | t }}</button>
</a>
<br>
{% for scheme in settings.color_schemes %}
  .color-{{ scheme.id }} {
  --color-background: {{ scheme.settings.background }};
  --color-text: {{ scheme.settings.text }};
  }
{% endfor %}
{% schema %}
{
  "name": "Shopify OpenNext Cloudflare",
  "target": "section",
  "settings": [
    { "type": "product", "id": "product", "label": "product", "autofill": true },
    { "type": "color", "id": "colour", "label": "text colour", "default": "#0000ff" },
    { "type": "color", "id": "button", "label": "button colour", "default": "#ff0000" }
  ]
}
{% endschema %}

